/* .para {
  width: 50%;
  height: 500px;
} */
.academic-home {
  margin-left: -1px;
}
.para-txt {
  position: relative;
  top: 150px;
  text-align: center;
  height: 350px;
  color: white;
}
.ub {
  max-width: 300px;
  /* height: 300px; */
}
/* ?//////////////////////// */

.our-container {
  background-color: white;
  margin: auto;
  margin-bottom: 200px;
  max-width: 400px;
  min-height: 40px;
}
.our-rooms {
  position: relative;
  padding: 50px;
  top: 100px;
}
.our-title-color {
  font-weight: 1000;
}
.card-des {
  font-size: 15px;
}
